.verticalStrip {
  position: relative;
  display : block;
  color:#194F36;
  text-decoration: none;\
  font-size:36px;
  text-decoration: none;
  padding: 14px 25px;
  /* border-style: groove; */
  /* border-color: #A3E7C7; */
  Margin-bottom:5px;
  top: auto;
  left: 0;
  width: 100%;
 background-color: #A3E7C7;
 
}
.responsive {
    width: 75%;
    height: auto;
}

    div {
      text-align: center;
    }

 img
  {
    width: 30%;
    height: 30%;
  }